# Conditionals and Loops

## References :

> https://www.openbookproject.net/books/bpp4awd/ch04.html

> https://docs.python.org/3/tutorial/controlflow.html

## Conditions

An expression that evaluates to either True or False

### Conditions that evaluate to True

In [1]:
print(True)
print('A'.isalpha())
print('5'.isnumeric())
print('5A'.isalnum())
print("UPPER".isupper())
print("lower".islower())
print('Titlecase'.istitle())
print(isinstance(2.0,float))
print(isinstance(2,int))
print(2 in [1,2,3,4,5])
print(3 in (1,2,3,4,5))
print(4 in {1,2,3,4,5})
print(2 in {1:'a',2:'b'})
print(isinstance(2,int))

True
True
True
True
True
True
True
True
True
True
True
True
True
True

### Conditions that evaluate to False

In [2]:
print(False)
print('5'.isalpha())
print('A'.isnumeric())
print('*'.isalnum())
print("upper".isupper())
print("Lower".islower())
print('camelCase'.istitle())
print(isinstance(2,float))
print(isinstance(2.0,int))
print(2 in [1,3,4,5])
print(3 in (1,2,4,5))
print(4 in {1,2,3,5})
print(2 in {1:'a',3:'b'})
print(isinstance(2.0,int))

False
False
False
False
False
False
False
False
False
False
False
False
False
False

## Conditionals

Selection statements used to execute a block of code based on a set of condition checks.

### if, elif, else

#### if

**Syntax :**
```
if condition_1:
    STATEMENTS_SET1
```

#### if,else

**Syntax :**
```
if condition_1:
    STATEMENTS_SET1
else:
    STATEMENTS_SET_else
```

#### if,elif,else

**Syntax :**
```
if condition_1:
    STATEMENTS_SET1
elif condition_2:
    STATEMENTS_SET2
    
    ...
    
elif condition_n:
    STATEMENTS_SETn
else:
    STATEMENTS_SET_else
```

#### Nested if else


```
if condition_1:
    if condition_1_1:
        STATEMENTS_SET1_1        
        ...
    elif condition_1_n:
        STATEMENTS_SET1_n
    else:
         STATEMENTS_SET1_else
...         
elif condition_n:
    if condition_n_1:
        STATEMENTS_SETn_1       
        ...    
    elif condition_n_n:
        STATEMENTS_SETn_n
    else:
         STATEMENTS_SETn_else
else:
    if condition_else_1:
        STATEMENTS_SETelse_1        
        ...
    elif condition_else_n:
        STATEMENTS_SETelse_n
    else:
         STATEMENTS_SETelse_else
```

### Lets try to set reminders for sleeping with conditionals.

#### Wake me up if I am sleeping

In [3]:
am_i_sleeping = False

In [4]:
if am_i_sleeping:
    print("Wake up. It is not yet time to sleep.")
else:
    print("Go to sleep.")

Go to sleep.

#### But I usually sleep after 10 pm only. You cannot ask me to go sleep now.

In [10]:
am_i_sleeping = True
is_it_night = True

In [11]:
if not is_it_night:
    print("It is not yet time to sleep.")
elif am_i_sleeping:
    print("Wake up. It is not yet time to sleep.")
else:    
    print("Go to sleep.")

Wake up. It is not yet time to sleep.

#### I want to sleep at night buddy, implement the conditions properly

In [14]:
am_i_sleeping = True
is_it_night = True

In [15]:
if not is_it_night:
    if am_i_sleeping:
        print("Wake up. It is not yet time to sleep.")
    else:
        print("It is not yet time to sleep.")
else:    
    print("Go to sleep.")

Go to sleep.

#### But sometime I have night sessions that I need to attend as well

In [19]:
am_i_in_class = True
am_i_sleeping = True
is_it_night = True

In [20]:
if am_i_in_class:
    if am_i_sleeping:
        print("You are in class buddy. It is not yet time to sleep.")
    else:
        print("Nice work staying awake for the class.")
else:
    if is_it_night:
        if am_i_sleeping:
            print("Sleep Tight.")
        else:
            print("Go to sleep.")
    else:
        print("It is not yet time to sleep.")

You are in class buddy. It is not yet time to sleep.

#### But your code is difficult to read, can you flatten the nested conditions

In [21]:
am_i_sleeping = True
is_it_night = True
am_i_in_class = True

In [22]:
if am_i_in_class and am_i_sleeping:
    print("You are in class buddy. It is not yet time to sleep.")
elif am_i_in_class: # and not am_i_sleeping:
    print("Nice work staying awake for the class.")
elif is_it_night and am_i_sleeping:
    print("Sleep Tight.")
elif is_it_night:# and not am_i_sleeping:
    print("Go to sleep.")
else:
    print("It is not yet time to sleep.")

You are in class buddy. It is not yet time to sleep.

## Loops

### Definite Iteration vs Indefinite Iteration

### for Loops

**Syntax:**
```
for LOOP_VARIABLE in SEQUENCE_OR_ITERATOR:
    SET_OF_STATEMENTS_LOOP_BODY
else:
    SET_OF_ELSE_CONDITIONS
```

#### Loops with Range

In [23]:
for i in range(10):# range will start from 0, and will go till 10-1, increment 1 [start],stop+1,[step]
    print(i, end = " ")

0 1 2 3 4 5 6 7 8 9

In [25]:
n = int(input("Enter a range to loop :"))
for i in range(1,n+1):
    print(i, end = " ")

Enter a range to loop :20
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [27]:
for i in range(2,11,2):
    print(i, end=" ")

2 4 6 8 10

In [28]:
n = int(input("Enter a range to loop :"))
for i in range(n,0,-1):
    print(i,end=' ')

Enter a range to loop :10
10 9 8 7 6 5 4 3 2 1

#### Lists, Tuples, Sets with comprehension and traversal with for loop

In [29]:
n = [k for k in range(10)]
print(n)
for i in n:
    print(i,end=' ')

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
0 1 2 3 4 5 6 7 8 9

In [33]:
n = [k**k for k in range(10)]
print(n)
for index,i in enumerate(n):
    print(index,"-",i)
    if index == 5:
      n[index] = 0
print(n)

[1, 1, 4, 27, 256, 3125, 46656, 823543, 16777216, 387420489]
0 - 1
1 - 1
2 - 4
3 - 27
4 - 256
5 - 3125
6 - 46656
7 - 823543
8 - 16777216
9 - 387420489
[1, 1, 4, 27, 256, 0, 46656, 823543, 16777216, 387420489]

In [34]:
n = (k for k in range(10))
print(n)
print(type(n))
for i in n:
    print(i,end=' ')

<generator object <genexpr> at 0x7f4d763f03d0>
<class 'generator'>
0 1 2 3 4 5 6 7 8 9

In [35]:
n = tuple(k for k in range(10))
print(n)
print(type(n))
for i in n:
    print(i,end=' ')

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>
0 1 2 3 4 5 6 7 8 9

In [36]:
n = {k for k in range(10)}
print(n)
for i in n:
    print(i,end=' ')

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
0 1 2 3 4 5 6 7 8 9

#### Dictionary Traversals

In [43]:
n = {k:k**k for k in range(10)}
print(n)
for i in n:
    print(i,end=' ')

{0: 1, 1: 1, 2: 4, 3: 27, 4: 256, 5: 3125, 6: 46656, 7: 823543, 8: 16777216, 9: 387420489}
0 1 2 3 4 5 6 7 8 9

In [38]:
for i in n.keys():
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [39]:
for i in n.values():
    print(i,end=' ')

1 1 4 27 256 3125 46656 823543 16777216 387420489

In [42]:
for key,value in n.items():
    print(key,'-',value)
    if key == 5:
      n[key] = 0
print(n)

0 - 1
1 - 1
2 - 4
3 - 27
4 - 256
5 - 3125
6 - 46656
7 - 823543
8 - 16777216
9 - 387420489
{0: 1, 1: 1, 2: 4, 3: 27, 4: 256, 5: 0, 6: 46656, 7: 823543, 8: 16777216, 9: 387420489}

#### for loop with strings

In [46]:
n = "hello"
for i in n:
    print(i)

h
e
l
l
o

### while Loop

**Syntax**
```
while CONDITION:
  LOOP_STATEMENTS
  CONDITION_UPDATE_STATEMENTS
  CONDITION_TERMINATION_STATEMENTS
 ```

**Syntax with else**
```
while CONDITION:
  LOOP_STATEMENTS
  CONDITION_UPDATE_STATEMENTS
  CONDITION_TERMINATION_STATEMENTS
else:
  STATEMENTS_TO_BE_EXECUTED_WHEN_CONDITION_BECOMES_FALSE
 ```

In [47]:
n = int(input("Enter a range to loop : "))
while n > 0:    
    print(n, end = ' ')
    n -= 1

Enter a range to loop : 10
10 9 8 7 6 5 4 3 2 1

In [49]:
n = int(input("Enter your passcode : "))
while n != 123:    
    n = int(input("Enter your passcode : "))
else:
    print("Correct Passcode")

Enter your passcode : 1
Enter your passcode : 2
Enter your passcode : 3
Enter your passcode : 123
Correct Passcode

### Break, Continue, pass

Reference : https://www.geeksforgeeks.org/break-continue-and-pass-in-python/

In [51]:
n = int(input("Enter a value to loop from : "))
e = int(input("Enter your termination value : "))
while n > 0:    
    print(n, end = ' ')
    n += 1
    if n >= e+1:
        break
else:
    print("why is this not printed?")

Enter a value to loop from : 1
Enter your termination value : 10
1 2 3 4 5 6 7 8 9 10

In [52]:
n = int(input("Enter a value to loop from : "))
while n > 0:  
    n -= 1
    if n%10 == 2:
        continue
    print(n, end = ' ')        
else:
    print("why is this printed?")

Enter a value to loop from : 20
19 18 17 16 15 14 13 11 10 9 8 7 6 5 4 3 1 0 why is this printed?

In [55]:
n = int(input("Enter a value to loop from : "))
while n > 0:  
    n -= 1
    if n%10 == 2:
        pass
    else:
        print(n, end = ' ')   
    #print('')     
else:
    print("why is this printed?")

Enter a value to loop from : 5
4 3 1 0 why is this printed?

In [57]:
for i in range(50):
  if i%10 == 2:
    continue
  #if i > 40:
  #  break
  print(i, end = " ")
else:
  print("loop executed normally")

0 1 3 4 5 6 7 8 9 10 11 13 14 15 16 17 18 19 20 21 23 24 25 26 27 28 29 30 31 33 34 35 36 37 38 39 40 41 43 44 45 46 47 48 49 loop executed normally

#### Advanced : Indefinite Iteration with for loop

In [ ]:
n = int(input("Enter a range to loop :"))
for _ in iter(int,1):
    print(n,end=' ')
    n -= 1
    if(n <= 0):
        break

In [ ]:
n = int(input("Enter your passcode : "))
for _ in iter(int,1):
    if n != 123:    
        n = int(input("Enter your passcode : "))

## Printing Patterns

### Patterns with *

#### Take an input n and print n nos of * in a line

##### Ex:
if n is 3 print ```***```

if n is 5 print ```******```

In [58]:
n = int(input())
print('*'*n)

10
**********

#### Take an input n and print n lines with n nos if * in each line

##### Ex:
if n is 3 print 
```
***
***
***
```

if n is 5 print 
```
*****
*****
*****
*****
*****
```

In [59]:
n = int(input())
for i in range(n):
    print('*'*n)

10
**********
**********
**********
**********
**********
**********
**********
**********
**********
**********

#### Take and input n and print n lines with each line having same no of * as line number (1 indexed)

##### Ex:
if n is 3 print 
```
*
**
***
```

if n is 5 print 
```
*
**
***
****
*****
```

In [60]:
n = int(input())
for i in range(1,n+1):
    print('*'*i)

10
*
**
***
****
*****
******
*******
********
*********
**********

#### Same as above with right aligned *

##### Ex:
if n is 3 print 
```
  *
 **
***
```

if n is 5 print 
```
    *
   **
  ***
 ****
*****
```

In [61]:
n = int(input())
for i in range(1,n+1):
    print(' '*(n-i),'*'*i)

10
          *
         **
        ***
       ****
      *****
     ******
    *******
   ********
  *********
 **********

#### Mirror of above on x axis

##### Ex:
if n is 3 print 
```
***
 **
  *
```

if n is 5 print 
```
*****
 ****
  ***
   **
    *
```

In [62]:
n = int(input())
for i in range(1,n+1):
    print(' '*(i-1),'*'*(n-i+1))

10
 **********
  *********
   ********
    *******
     ******
      *****
       ****
        ***
         **
          *

#### Same as above with center justified and no of * following 2*line no - 1

##### Ex:
if n is 3 print 
```
  *
 ***
*****
```

if n is 5 print 
```
    *
   ***
  *****
 *******
*********
```

In [63]:
n = int(input())
for i in range(1,n+1):
    print(' '*(n-i),'*'*(2*i-1))

10
          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************
 *******************

#### Same as above with triangle faced downwards

##### Ex:
if n is 3 print 
```
*****
 ***
  *
```

if n is 5 print 
```
*********
 *******
  *****
   ***
    *
```

In [64]:
n = int(input())
for i in range(n,0,-1):
    print(' '*(n-i),'*'*(2*i-1))

10
 *******************
  *****************
   ***************
    *************
     ***********
      *********
       *******
        *****
         ***
          *

#### Merge two triangles as above

##### Ex:
if n is 3 print 
```
  *
 ***
*****
*****
 ***
  *
```

if n is 5 print 
```
    *
   ***
  *****
 *******
*********
*********
 *******
  *****
   ***
    *
```

In [65]:
n = int(input())
for i in range(1,n+1):
    print(' '*(n-i),'*'*(2*i-1))
for i in range(n,0,-1):
    print(' '*(n-i),'*'*(2*i-1))

10
          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************
 *******************
 *******************
  *****************
   ***************
    *************
     ***********
      *********
       *******
        *****
         ***
          *

In [66]:
n = int(input())
for i in range(1,2*n+1):
    if i<n+1:
        print(' '*(n-i),'*'*(2*i-1))
    else:
        print(' '*(i-n-1),'*'*(2*(2*n-i)+1))

10
          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************
 *******************
 *******************
  *****************
   ***************
    *************
     ***********
      *********
       *******
        *****
         ***
          *

#### Hourglass with above

##### Ex:
if n is 3 print 
```
*****
 ***
  *
  *
 ***
*****
```

if n is 5 print 
```
*********
 *******
  *****
   ***
    *
    *
   ***
  *****
 *******
*********
```

In [67]:
n = int(input())
for i in range(n,0,-1):
    print(' '*(n-i),'*'*(2*i-1))
for i in range(1,n+1):
    print(' '*(n-i),'*'*(2*i-1))

10
 *******************
  *****************
   ***************
    *************
     ***********
      *********
       *******
        *****
         ***
          *
          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************
 *******************

### Patterns with alphabets

**Option 1** : Make a list of alphabets 
https://www.geeksforgeeks.org/python-ways-to-initialize-list-with-alphabets/

In [68]:
import string
print(string.ascii_lowercase)

abcdefghijklmnopqrstuvwxyz

**Option 2** : Work with alphabets as nos using ord () and convert back to alphabets using chr()
https://www.journaldev.com/22767/python-ord-chr

#### Print alphabets with each line containing letters repeated as many times as the line number starting with a in line 1

In [69]:
for index,alphabet in enumerate(string.ascii_lowercase):
    print(alphabet*(index+1))

a
bb
ccc
dddd
eeeee
ffffff
ggggggg
hhhhhhhh
iiiiiiiii
jjjjjjjjjj
kkkkkkkkkkk
llllllllllll
mmmmmmmmmmmmm
nnnnnnnnnnnnnn
ooooooooooooooo
pppppppppppppppp
qqqqqqqqqqqqqqqqq
rrrrrrrrrrrrrrrrrr
sssssssssssssssssss
tttttttttttttttttttt
uuuuuuuuuuuuuuuuuuuuu
vvvvvvvvvvvvvvvvvvvvvv
wwwwwwwwwwwwwwwwwwwwwww
xxxxxxxxxxxxxxxxxxxxxxxx
yyyyyyyyyyyyyyyyyyyyyyyyy
zzzzzzzzzzzzzzzzzzzzzzzzzz

#### Print alphabets with each line containing letters repeated as many times as the line number starting with z in line 1

In [70]:
for index,alphabet in enumerate(string.ascii_lowercase[::-1]):
    print(alphabet*(index+1))

z
yy
xxx
wwww
vvvvv
uuuuuu
ttttttt
ssssssss
rrrrrrrrr
qqqqqqqqqq
ppppppppppp
oooooooooooo
nnnnnnnnnnnnn
mmmmmmmmmmmmmm
lllllllllllllll
kkkkkkkkkkkkkkkk
jjjjjjjjjjjjjjjjj
iiiiiiiiiiiiiiiiii
hhhhhhhhhhhhhhhhhhh
gggggggggggggggggggg
fffffffffffffffffffff
eeeeeeeeeeeeeeeeeeeeee
ddddddddddddddddddddddd
cccccccccccccccccccccccc
bbbbbbbbbbbbbbbbbbbbbbbbb
aaaaaaaaaaaaaaaaaaaaaaaaaa

#### Print n lines with each line containing that many distinct characters as line number starting from a

In [72]:
n = int(input())
for i in range(1,n+1):
    print(string.ascii_lowercase[:i])

10
a
ab
abc
abcd
abcde
abcdef
abcdefg
abcdefgh
abcdefghi
abcdefghij

#### Print n lines with each line containing that many distinct characters as line number ending with z

In [74]:
n = int(input())
for i in range(n):
    print(' '*(n-i),string.ascii_lowercase[25-i:])

10
           z
          yz
         xyz
        wxyz
       vwxyz
      uvwxyz
     tuvwxyz
    stuvwxyz
   rstuvwxyz
  qrstuvwxyz

#### Print n lines with each line containing that many distinct characters as line number ending with a

In [76]:
n = int(input())
for i in range(n):
    print(' '*(n-i),string.ascii_lowercase[i::-1])

10
           a
          ba
         cba
        dcba
       edcba
      fedcba
     gfedcba
    hgfedcba
   ihgfedcba
  jihgfedcba

#### Print n lines with each line containing that many distinct characters as line number starting with z

In [77]:
n = int(input())
for i in range(n):
    print(string.ascii_lowercase[:24-i:-1])

10
z
zy
zyx
zyxw
zyxwv
zyxwvu
zyxwvut
zyxwvuts
zyxwvutsr
zyxwvutsrq

#### Print pattern as follows:

##### Ex: If user enters 5 print pattern as follows:
```
           a
          bab
         cbabc
        dcbabcd
       edcbabcde
```

In [78]:
n = int(input())
for i in range(n):
    print(' '*(n-i),string.ascii_lowercase[i::-1]+string.ascii_lowercase[1:i+1])

10
           a
          bab
         cbabc
        dcbabcd
       edcbabcde
      fedcbabcdef
     gfedcbabcdefg
    hgfedcbabcdefgh
   ihgfedcbabcdefghi
  jihgfedcbabcdefghij

#### Print the pattern 2

##### Ex: If user enters 5 print pattern as follows:
```
           a
          aba
         abcba
        abcdcba
       abcdedcba
```

In [80]:
n = int(input())
for i in range(n):
    print(' '*(n-i),string.ascii_lowercase[:i]+string.ascii_lowercase[i::-1])

10
           a
          aba
         abcba
        abcdcba
       abcdedcba
      abcdefedcba
     abcdefgfedcba
    abcdefghgfedcba
   abcdefghihgfedcba
  abcdefghijihgfedcba

### Patterns with numbers

- Same as alphabets
> - Use range(10) or range(9,-1,-1) as appropriate to print from 0 to 9 or 9 to 0
> - replace alphabet by str(alphabet) and it will work right away
- for mixing 2 digit or 3 digit numbers similar logic can be used after allowing for spaces to make lengths of all numbers same

In [81]:
for index,no in enumerate(range(10)):
    print(str(no)*(index+1))

0
11
222
3333
44444
555555
6666666
77777777
888888888
9999999999

## Functions (Introduction)

Built in Funtions in Python : https://docs.python.org/3/library/functions.html

In [ ]:
import builtins
print(dir(builtins))

In [ ]:
import types

builtin_function_names = [name for name, obj in vars(builtins).items() 
                          if isinstance(obj, types.BuiltinFunctionType)]
print(builtin_function_names)

In [ ]:
def addition(a, b):
    return a + b

addition(2, 3)

## Topics to be discussed in next session:

Functions, scope of variables, built in functions (enumerate, zip, map, filter, reduce, all), Function arguments(args,  kwargs), recursive functions will be covered in subsequent sessions.

Refer our doubt clearing session on Lambda Functions as well.

## Thank You !!!

Regards and Best Wishes, Arun P R