# SciPy meets Pandas

## References

* https://numpy.org/doc/stable/reference/routines.statistics.html
* https://www.statsmodels.org/stable/stats.html
* https://docs.scipy.org/doc/scipy/reference/stats.html

# Descriptive Statistics

In [42]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Arjun','Bunty','Cathy','Devin','Eddie','Finch','Gerom',
   'Heron','Indra','Jacks','Karan','Laila']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)
df

     Name  Age  Rating
0   Arjun   25    4.23
1   Bunty   26    3.24
2   Cathy   25    3.98
3   Devin   23    2.56
4   Eddie   30    3.20
5   Finch   29    4.60
6   Gerom   23    3.80
7   Heron   34    3.78
8   Indra   40    2.98
9   Jacks   30    4.80
10  Karan   51    4.10
11  Laila   46    3.65

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    12 non-null     object
 1   Age     12 non-null     int64
 2   Rating  12 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 416.0+ bytes

In [44]:
df.describe()

             Age     Rating
count  12.000000  12.000000
mean   31.833333   3.743333
std     9.232682   0.661628
min    23.000000   2.560000
25%    25.000000   3.230000
50%    29.500000   3.790000
75%    35.500000   4.132500
max    51.000000   4.800000

In [46]:
df.describe(include='object')

         Name
count      12
unique     12
top     Devin
freq        1

In [47]:
df.describe(include="all")

         Name        Age     Rating
count      12  12.000000  12.000000
unique     12        NaN        NaN
top     Devin        NaN        NaN
freq        1        NaN        NaN
mean      NaN  31.833333   3.743333
std       NaN   9.232682   0.661628
min       NaN  23.000000   2.560000
25%       NaN  25.000000   3.230000
50%       NaN  29.500000   3.790000
75%       NaN  35.500000   4.132500
max       NaN  51.000000   4.800000

In [48]:
df.count()

Name      12
Age       12
Rating    12
dtype: int64

In [49]:
df.min()

Name      Arjun
Age          23
Rating     2.56
dtype: object

In [50]:
df.max()

Name      Laila
Age          51
Rating      4.8
dtype: object

In [53]:
df[['Age','Rating']].max() - df[['Age','Rating']].min()#range

Age       28.00
Rating     2.24
dtype: float64

In [54]:
df.sum()

Name      ArjunBuntyCathyDevinEddieFinchGeromHeronIndraJ...
Age                                                     382
Rating                                                44.92
dtype: object

## Mean

$\bar x =   \frac{1}{n} \sum_{i=i}^{n} x_{i}  $

$\mu =   \frac{1}{N} \sum_{i=i}^{N} x_{i}  $

In [55]:
print(df.Age.sum()/df.Age.count(), df.Rating.sum()/df.Rating.count())

31.833333333333332 3.7433333333333327

In [56]:
df.mean()

Age       31.833333
Rating     3.743333
dtype: float64

## Median

In [57]:
def find_median(input_list):
  sorted_list = sorted(input_list)
  len_list = len(sorted_list)
  if len_list %2 == 0:
    print((sorted_list[len_list//2-1]+sorted_list[len_list//2])/2)
  else:
    print(sorted_list[len_list//2])

find_median(df.Age)
find_median(df.Rating)

29.5
3.79

In [58]:
df.median()

Age       29.50
Rating     3.79
dtype: float64

## Mode

In [59]:
df.Age.mode()

0    23
1    25
2    30
dtype: int64

## Quantiles

In [60]:
df.Age.quantile([0,0.25,0.5,0.75,1])

0.00    23.0
0.25    25.0
0.50    29.5
0.75    35.5
1.00    51.0
Name: Age, dtype: float64

## MAD

$MAD_{Mean} =  \frac{1}{n} \sum_{i=i}^{n} |x_{i}-\bar x|  $

In [61]:
df['|x-xbar|']=abs(df.Age-df.Age.mean())
df.head()

    Name  Age  Rating  |x-xbar|
0  Arjun   25    4.23  6.833333
1  Bunty   26    3.24  5.833333
2  Cathy   25    3.98  6.833333
3  Devin   23    2.56  8.833333
4  Eddie   30    3.20  1.833333

In [62]:
df['|x-xbar|'].sum()/df.Age.count()

7.277777777777778

In [63]:
df.Age.mad()#mean absolute deviation about mean

7.277777777777779

$MAD_{Median} =  \frac{1}{n} \sum_{i=i}^{n} |x_{i}-\tilde x|  $

In [64]:
df['|x-median|']=abs(df.Age-df.Age.median())
df['|x-median|'].sum()/df.Age.count()#mean absolute deviation about median

6.666666666666667

## Variance

$ s^2 =   \frac{1}{n-1} \sum_{i=i}^{n} (x_{i}-\bar x)^2  $

In [65]:
sum(df['|x-xbar|']**2)/(df.Age.count()-1)

85.24242424242424

In [66]:
df.var()#sample variance

Age           85.242424
Rating         0.437752
|x-xbar|      27.461279
|x-median|    42.696970
dtype: float64

$ \sigma^2 =   \frac{1}{N} \sum_{i=i}^{N} (x_{i}-\mu)^2  $

In [67]:
sum(df['|x-xbar|']**2)/(df.Age.count())

78.13888888888889

In [68]:
df.var(ddof=0)#population variance

Age           78.138889
Rating         0.401272
|x-xbar|      25.172840
|x-median|    39.138889
dtype: float64

## Standard Deviation

$ s =   \sqrt{\frac{1}{n-1} \sum_{i=i}^{n} (x_{i}-\bar x)^2}  $

In [69]:
df.std()

Age           9.232682
Rating        0.661628
|x-xbar|      5.240351
|x-median|    6.534292
dtype: float64

In [70]:
np.sqrt(sum(df['|x-xbar|']**2)/(df.Age.count()-1))

9.232682396921506

In [71]:
df.Age.skew()

1.135088832399207

In [72]:
df.Age.kurt()

0.24930965861233734

# Inferential Statistics

## Probability Distributions

### Binomial Distributions

In [73]:
from scipy.stats import binom
# setting the values
# of n and p
n = 6
p = 0.6

In [76]:
binom.pmf(0, n, p)

0.004096000000000002

In [74]:
binom.pmf(1, n, p)

0.03686400000000005

In [75]:
binom.cdf(1, n, p)

0.04096000000000002

In [77]:
# obtaining the mean and variance 
mean, var = binom.stats(n, p)
# printing mean and variance
print("\nmean = "+str(mean))#--n*p
print("variance = "+str(var))#--n*p*q

mean = 3.5999999999999996
variance = 1.44

In [78]:
# defining the list of r values
r_values = list(range(n + 1))

In [79]:
r_values

[0, 1, 2, 3, 4, 5, 6]

In [81]:
# list of pmf values
dist = [binom.pmf(r, n, p) for r in r_values ]
dist

[0.004096000000000002,
 0.03686400000000005,
 0.13824000000000003,
 0.2764800000000001,
 0.31104,
 0.18662400000000007,
 0.04665599999999999]

In [82]:
# printing the table
print("r\tp(r)")
for i in range(n + 1):
    print(str(r_values[i]) + "\t" + str(dist[i]))

r	p(r)
0	0.004096000000000002
1	0.03686400000000005
2	0.13824000000000003
3	0.2764800000000001
4	0.31104
5	0.18662400000000007
6	0.04665599999999999

### Standard Normal Distribution

In [83]:
from scipy import stats
stats.norm.pdf(1)

0.24197072451914337

In [84]:
stats.norm.cdf(1)

0.8413447460685429

In [85]:
stats.norm.ppf(0.8413447460685429)

1.0

In [86]:
stats.norm.sf(1)#survival function

0.15865525393145707

In [87]:
stats.norm.cdf(1.96)-stats.norm.cdf(-1.96)

0.950004209703559

In [88]:
stats.norm.cdf(2.6)-stats.norm.cdf(-2.6)

0.9906776239525625

In [90]:
stats.norm.cdf(3)-stats.norm.cdf(-3)

0.9973002039367398

## Estimation

## Confidence Intervals

In [91]:
#define sample data
np.random.seed(0)
data = np.random.randint(10, 30, 50)

#create 95% confidence interval for population mean weight
st.norm.interval(alpha=0.95, loc=np.mean(data), scale=st.sem(data))

(17.400060940568054, 21.079939059431943)

In [92]:
import numpy as np
import scipy.stats as st

#define sample data
data = [12, 12, 13, 13, 15, 16, 17, 22, 23, 25, 26, 27, 28, 28, 29]

#create 95% confidence interval for population mean weight
st.t.interval(alpha=0.95, df=len(data)-1, loc=np.mean(data), scale=st.sem(data))

(16.75776979778498, 24.042230202215016)

## Hypothesis Testing

### Single Population with known variance

$z = \frac{x-\mu}{\sigma/\sqrt{n}}$

### Single Population with unknown variance

$z = \frac{x-\mu}{s/\sqrt{n}}$ if n >=30,

$t = \frac{x-\mu}{s/\sqrt{n}}$ otherwise

In [93]:
ages = [22,34,46,23,22,37,35,45,34,16,41,23,43,26]
print(np.mean(ages),np.std(ages))

31.928571428571427 9.49785152934438

In [94]:
from statsmodels.stats import weightstats
ztest ,pval = weightstats.ztest(ages, x2=None, value=38)
print(float(pval))
if pval<0.05:#significance level
    print("reject null hypothesis")
else:
    print("fail to reject null hypothesis")

0.021176604200172613
reject null hypothesis

In [95]:
from scipy.stats import ttest_1samp
tset, pval = ttest_1samp(ages, 38)
print('p-values',pval)
if pval < 0.05:    # alpha value is 0.05 or 5%
    print("reject null hypothesis")
else:
    print("fail to reject null hypothesis")

p-values 0.03831449306690359
reject null hypothesis

### Single & Two population case for proportion

$\LARGE{z = \frac{\hat p - p_0}{\sqrt{\frac{pq}{n}}}}$

Ref : https://sonalake.com/latest/hypothesis-testing-of-proportion-based-samples/

In [96]:
from statsmodels.stats.proportion import proportions_ztest
# can we assume anything from our sample
significance = 0.05
# our sample - 82% are good
sample_success = 410
sample_size = 500
# our Ho is  80%
null_hypothesis = 0.80
# check our sample against Ho for Ha > Ho
# for Ha < Ho use alternative='smaller'
# for Ha != Ho use alternative='two-sided'
stat, p_value = proportions_ztest(count=sample_success, nobs=sample_size, value=null_hypothesis, alternative='larger')
# report
print('z_stat: %0.3f, p_value: %0.3f' % (stat, p_value))
if p_value > significance:
   print ("Fail to reject the null hypothesis - we have nothing else to say")
else:
   print ("Reject the null hypothesis - suggest the alternative hypothesis is true")

z_stat: 1.164, p_value: 0.122
Fail to reject the null hypothesis - we have nothing else to say

For two populations, we use the statistic as follows:

$\LARGE{z = \frac{(\hat {p_2} -\hat {p_1}) - (p_2 - p_1)}{SE}}$

For two independant/heterogeneous populations, $\LARGE{SE = \sqrt{\frac{\hat {p_1} \hat {q_1}}{n_1} + \frac{\hat {p_2} \hat {q_2}}{n_2}}}$

For two dependant/homogeneous populations, $\LARGE{SE = p_0 q_0 \sqrt{\frac{1}{n_1} + \frac{1}{n_2}}}$, where $p_0 = \frac{n_1 \hat p_1 + n_2 \hat p_2}{n_1 + n_2}$ and $q_0 = 1 - p_0$

In [97]:
from statsmodels.stats.proportion import proportions_ztest
import numpy as np
# can we assume anything from our sample
significance = 0.025
# our samples - 82% are good in one, and ~79% are good in the other
# note - the samples do not need to be the same size
sample_success_a, sample_size_a = (410, 500)
sample_success_b, sample_size_b = (379, 400)
# check our sample against Ho for Ha != Ho
successes = np.array([sample_success_a, sample_success_b])
samples = np.array([sample_size_a, sample_size_b])
# note, no need for a Ho value here - it's derived from the other parameters
stat, p_value = proportions_ztest(count=successes, nobs=samples,  alternative='two-sided')
# report
print('z_stat: %0.3f, p_value: %0.3f' % (stat, p_value))
if p_value > significance:
   print ("Fail to reject the null hypothesis - we have nothing else to say")
else:
   print ("Reject the null hypothesis - suggest the alternative hypothesis is true")

z_stat: -5.780, p_value: 0.000
Reject the null hypothesis - suggest the alternative hypothesis is true

## Two independant Samples

### Two Sample z-test - known population variance

$z = \frac{(\bar {x_1}-\bar {x_2})-(\mu_1-\mu_2)}{SE}$

$SE = \sqrt{\frac{\sigma_1^2}{n_1} + \frac{\sigma_2^2}{n_2}}$

### Two sample independant t- test (unpooled) - unknown population variance (unequal variance assumption), (can be applied in general case)

$t = \frac{(\bar {x_1}-\bar {x_2})-(\mu_1-\mu_2)}{SE}$

$SE = \sqrt{\frac{s_1^2}{n_1} + \frac{s_2^2}{n_2}}$

with Degrees of freedom calculated as follows:

Option 1 min(n1-1,n2-1)-->use if calculating manually

Option 2 Satterthwaite Approximation -->used by softwares -->$\frac{(\frac{s_1^2}{n_1} + \frac{s_2^2}{n_2})^2}{(\frac{1}{n_1-1})(\frac{s_1^2}{n_1})^2+(\frac{1}{n_2-1})(\frac{s_2^2}{n_2})^2}$

Option 3 (n1+n2-2) -->not much used

### Two sample independant t- test (pooled) - unknown population variance, (equal variance assumption)

$t = \frac{(\bar {x_1}-\bar {x_2})-(\mu_1-\mu_2)}{SE}$

$SE = s_p\sqrt{\frac{1}{n_1} + \frac{1}{n_2}}$

Pooled Variance, $s_p = \sqrt{\frac{(n_1-1)s_1^2 + (n_2-1)s_2^2}{n_1+n_2-2}}$

with Degrees of freedom (n1 + n2 - 2)

### Two sample paired t- test - two sets of measurements are from same set of samples

In [98]:
from statsmodels.stats import weightstats
ages = [22,34,46,23,22,37,35,45,34,16,41,23,43,26]
ages1 = [92,34,46,23,21,57,35,95,34,36,41,13,33,96]
ztest ,pval = weightstats.ztest(ages, ages1)
print(float(pval))
if pval<0.05:
    print("reject null hypothesis")
else:
    print("fail to reject null hypothesis")

0.05855451408701195
fail to reject null hypothesis

In [99]:
from scipy.stats import ttest_ind
help(ttest_ind)

Help on function ttest_ind in module scipy.stats.stats:

ttest_ind(a, b, axis=0, equal_var=True, nan_policy='propagate')
    Calculate the T-test for the means of *two independent* samples of scores.

    This is a two-sided test for the null hypothesis that 2 independent samples
    have identical average (expected) values. This test assumes that the
    populations have identical variances by default.

    Parameters
    ----------
    a, b : array_like
        The arrays must have the same shape, except in the dimension
        corresponding to `axis` (the first, by default).
    axis : int or None, optional
        Axis along which to compute test. If None, compute over the whole
        arrays, `a`, and `b`.
    equal_var : bool, optional
        If True (default), perform a standard independent 2 sample test
        that assumes equal population variances [1]_.
        If False, perform Welch's t-test, which does not assume equal
        population variance [2]_.

        .. versionadded:: 0.11.0
    nan_policy : {'propagate', 'raise', 'omit'}, optional
        Defines how to handle when input contains nan.
        The following options are available (default is 'propagate'):

          * 'propagate': returns nan
          * 'raise': throws an error
          * 'omit': performs the calculations ignoring nan values


    Returns
    -------
    statistic : float or array
        The calculated t-statistic.
    pvalue : float or array
        The two-tailed p-value.

    Notes
    -----
    We can use this test, if we observe two independent samples from
    the same or different population, e.g. exam scores of boys and
    girls or of two ethnic groups. The test measures whether the
    average (expected) value differs significantly across samples. If
    we observe a large p-value, for example larger than 0.05 or 0.1,
    then we cannot reject the null hypothesis of identical average scores.
    If the p-value is smaller than the threshold, e.g. 1%, 5% or 10%,
    then we reject the null hypothesis of equal averages.

    References
    ----------
    .. [1] https://en.wikipedia.org/wiki/T-test#Independent_two-sample_t-test

    .. [2] https://en.wikipedia.org/wiki/Welch%27s_t-test

    Examples
    --------
    >>> from scipy import stats
    >>> np.random.seed(12345678)

    Test with sample with identical means:

    >>> rvs1 = stats.norm.rvs(loc=5,scale=10,size=500)
    >>> rvs2 = stats.norm.rvs(loc=5,scale=10,size=500)
    >>> stats.ttest_ind(rvs1,rvs2)
    (0.26833823296239279, 0.78849443369564776)
    >>> stats.ttest_ind(rvs1,rvs2, equal_var = False)
    (0.26833823296239279, 0.78849452749500748)

    `ttest_ind` underestimates p for unequal variances:

    >>> rvs3 = stats.norm.rvs(loc=5, scale=20, size=500)
    >>> stats.ttest_ind(rvs1, rvs3)
    (-0.46580283298287162, 0.64145827413436174)
    >>> stats.ttest_ind(rvs1, rvs3, equal_var = False)
    (-0.46580283298287162, 0.64149646246569292)

    When n1 != n2, the equal variance t-statistic is no longer equal to the
    unequal variance t-statistic:

    >>> rvs4 = stats.norm.rvs(loc=5, scale=20, size=100)
    >>> stats.ttest_ind(rvs1, rvs4)
    (-0.99882539442782481, 0.3182832709103896)
    >>> stats.ttest_ind(rvs1, rvs4, equal_var = False)
    (-0.69712570584654099, 0.48716927725402048)

    T-test with different means, variance, and n:

    >>> rvs5 = stats.norm.rvs(loc=8, scale=20, size=100)
    >>> stats.ttest_ind(rvs1, rvs5)
    (-1.4679669854490653, 0.14263895620529152)
    >>> stats.ttest_ind(rvs1, rvs5, equal_var = False)
    (-0.94365973617132992, 0.34744170334794122)

In [102]:
import numpy as np
ages = [22,34,46,23,22,37,35,45,34,16,41,23,43,26]
ages1 = [92,34,46,23,21,57,35,95,34,36,41,13,33,96]
print(np.mean(ages),np.mean(ages1))
tset, pval = ttest_ind(ages, ages1, equal_var=False)#equal_var True is default ->pooled case, use False for unpooled case/general case
print('p-values',pval)
if pval < 0.05:    # alpha value is 0.05 or 5%
    print("reject null hypothesis")
else:
    print("fail to reject null hypothesis")

31.928571428571427 46.857142857142854
p-values 0.07656154516721643
fail to reject null hypothesis

## Why Paired test?

In [103]:
from scipy.stats import ttest_ind
data1 = [0.873, 2.817, 0.121, -0.945, -0.055, -1.436, 0.360, -1.478, -1.637, -1.869]
data2 = [1.142, -0.432, -0.938, -0.729, -0.846, -0.157, 0.500, 1.183, -1.075, -0.169]
stat, p = ttest_ind(data1, data2)
print('stat=%.3f, p=%.3f' % (stat, p))
if p > 0.05:
	print('Probably the same distribution')
else:
	print('Probably different distributions')

stat=-0.326, p=0.748
Probably the same distribution

In [104]:
from scipy.stats import ttest_rel
data1 = [0.873, 2.817, 0.121, -0.945, -0.055, -1.436, 0.360, -1.478, -1.637, -1.869]
data2 = [1.142, -0.432, -0.938, -0.729, -0.846, -0.157, 0.500, 1.183, -1.075, -0.169]
stat, p = ttest_rel(data1, data2)
print('stat=%.3f, p=%.3f' % (stat, p))
if p > 0.05:
	print('Probably the same distribution')
else:
	print('Probably different distributions')

stat=-0.334, p=0.746
Probably the same distribution

In [105]:
from scipy.stats import ttest_1samp
tset, pval = ttest_1samp(np.array(data1)-np.array(data2),0)
print(tset,'p-values',pval)
if pval < 0.05:    # alpha value is 0.05 or 5%
   print(" we are rejecting null hypothesis")
else:
  print("we are accepting null hypothesis")

-0.3341680721407323 p-values 0.7459078283577478
we are accepting null hypothesis

## scipy.stats.ttest_ind_from_stats

In [109]:
import scipy.stats
help(scipy.stats.ttest_ind_from_stats)

Help on function ttest_ind_from_stats in module scipy.stats.stats:

ttest_ind_from_stats(mean1, std1, nobs1, mean2, std2, nobs2, equal_var=True)
    T-test for means of two independent samples from descriptive statistics.

    This is a two-sided test for the null hypothesis that two independent
    samples have identical average (expected) values.

    Parameters
    ----------
    mean1 : array_like
        The mean(s) of sample 1.
    std1 : array_like
        The standard deviation(s) of sample 1.
    nobs1 : array_like
        The number(s) of observations of sample 1.
    mean2 : array_like
        The mean(s) of sample 2.
    std2 : array_like
        The standard deviations(s) of sample 2.
    nobs2 : array_like
        The number(s) of observations of sample 2.
    equal_var : bool, optional
        If True (default), perform a standard independent 2 sample test
        that assumes equal population variances [1]_.
        If False, perform Welch's t-test, which does not assume equal
        population variance [2]_.

    Returns
    -------
    statistic : float or array
        The calculated t-statistics.
    pvalue : float or array
        The two-tailed p-value.

    See Also
    --------
    scipy.stats.ttest_ind

    Notes
    -----
    .. versionadded:: 0.16.0

    References
    ----------
    .. [1] https://en.wikipedia.org/wiki/T-test#Independent_two-sample_t-test

    .. [2] https://en.wikipedia.org/wiki/Welch%27s_t-test

    Examples
    --------
    Suppose we have the summary data for two samples, as follows::

                         Sample   Sample
                   Size   Mean   Variance
        Sample 1    13    15.0     87.5
        Sample 2    11    12.0     39.0

    Apply the t-test to this data (with the assumption that the population
    variances are equal):

    >>> from scipy.stats import ttest_ind_from_stats
    >>> ttest_ind_from_stats(mean1=15.0, std1=np.sqrt(87.5), nobs1=13,
    ...                      mean2=12.0, std2=np.sqrt(39.0), nobs2=11)
    Ttest_indResult(statistic=0.9051358093310269, pvalue=0.3751996797581487)

    For comparison, here is the data from which those summary statistics
    were taken.  With this data, we can compute the same result using
    `scipy.stats.ttest_ind`:

    >>> a = np.array([1, 3, 4, 6, 11, 13, 15, 19, 22, 24, 25, 26, 26])
    >>> b = np.array([2, 4, 6, 9, 11, 13, 14, 15, 18, 19, 21])
    >>> from scipy.stats import ttest_ind
    >>> ttest_ind(a, b)
    Ttest_indResult(statistic=0.905135809331027, pvalue=0.3751996797581486)

    Suppose we instead have binary data and would like to apply a t-test to
    compare the proportion of 1s in two independent groups::

                          Number of    Sample     Sample
                    Size    ones        Mean     Variance
        Sample 1    150      30         0.2        0.16
        Sample 2    200      45         0.225      0.174375

    The sample mean :math:`\hat{p}` is the proportion of ones in the sample
    and the variance for a binary observation is estimated by
    :math:`\hat{p}(1-\hat{p})`.

    >>> ttest_ind_from_stats(mean1=0.2, std1=np.sqrt(0.16), nobs1=150,
    ...                      mean2=0.225, std2=np.sqrt(0.17437), nobs2=200)
    Ttest_indResult(statistic=-0.564327545549774, pvalue=0.5728947691244874)

    For comparison, we could compute the t statistic and p-value using
    arrays of 0s and 1s and `scipy.stat.ttest_ind`, as above.

    >>> group1 = np.array([1]*30 + [0]*(150-30))
    >>> group2 = np.array([1]*45 + [0]*(200-45))
    >>> ttest_ind(group1, group2)
    Ttest_indResult(statistic=-0.5627179589855622, pvalue=0.573989277115258)

### Example 1
Average number of articles produced by two machines per day are 200 and 250 with SD 20 and 25 respectively on the basis of 25 days production. Can you regard both the machines equally efficient at 1% level of significance.

In [110]:
import scipy.stats
scipy.stats.ttest_ind_from_stats(200, 20, 25, 250, 25, 25, equal_var=True)

Ttest_indResult(statistic=-7.808688094430304, pvalue=4.2897604160231015e-10)

### Example 2
Average number of articles produced by two machines per day are 200 and 215 with SD 20 and 25 respectively on the basis of 25 days and 30 days production respectively. Can you regard both the machines equally efficient at 1% level of significance.

In [111]:
import scipy.stats
scipy.stats.ttest_ind_from_stats(200, 20, 25, 215, 25, 30)

Ttest_indResult(statistic=-2.421824695413772, pvalue=0.01889676686376)

In [112]:
import scipy.stats
scipy.stats.ttest_ind_from_stats(200, 20, 25, 215, 25, 30, equal_var=False)

Ttest_indResult(statistic=-2.4715576637149037, pvalue=0.016704061211880682)

### Example 3
The heights of six randomly chosen sailors are in inches 63,65,58,69,71 and 72. The heights of 10 randomly chosen soldiers in inches are 61,62,65,66,69,69,70,71,72 and 73. Do these figures indicate that soldiers are on average shorter than sailors. Test at 5% significance level.

In [113]:
sailors = [63,65,58,69,71,72]
soldiers = [61,62,65,66,69,69,70,71,72,73]

In [114]:
from scipy.stats import ttest_ind
ttest_ind(sailors, soldiers, equal_var=True)

Ttest_indResult(statistic=-0.6167108606032418, pvalue=0.5473239774460055)

Thanks & Regards

Arun P R